<link rel="stylesheet" href="./stylesheets/signup.css" />

<div class="logindiv">
  <div class="createAcc">
    <h1>Create a new account</h1>
    <form action="/signup" method="post">
      <label>Username:</label>
      <input type="text" />
      <label>Password:</label>
      <input type="password" />

      <button>Create Account</button>

    </form>
    <br />
    <a href="/login">Login</a>

  </div>

</div>