{{! login page}}
<link rel="stylesheet" href="./stylesheets/userlogin.css" />

<div class="logindiv">
  <div class="login">
    <h1>Login:</h1>
    <form action="/login" method="post">
      <label>Username:</label>
      <input type="text" />
      <label>Password:</label>
      <input type="password" />
      <button>Login</button>
    </form>
  </div>
</div>