<link rel="stylesheet" href="./stylesheets/userlogin.css" />

<div class="logindiv">
  <div class="login">
    <h1>Create a new account</h1>
    <form action="/signup" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="Enter your username" />
      <label for="password">Password:</label>
      <input type="password" name="password" />

      <button>Create Account</button>

    </form>
    <br />
    <a href="/login">Have an Account? Login</a>


  {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
  {{/if}}
  </div>

</div>