{{! login page}}
<link rel="stylesheet" href="./stylesheets/userlogin.css" />

<div class="logindiv">
  <div class="login">
    <h1>Login:</h1>
    <form action="/login" method="post">
      <label>Username:</label>
      <input type="text" name="username" placeholder="Your username" />
      <label>Password:</label>
      <input type="password" name="password"  />
      <button>Login</button>
    </form>
    <br />
    <a href="/signup">Sign Up</a>
  </div>

  {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
  {{/if}}
</div>