<link rel="stylesheet" href="../stylesheets/road-id.css" />
<script src="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css"
  rel="stylesheet"
/>
<script
  src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"
></script>
<link
  rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
  type="text/css"
/>
<div class="create-route-main">
<div id="map" style="width: 600px; height: 600px;"></div>


<form style="display: flex; flex-direction:column;" action="/createroute" method="POST" enctype="multipart/form-data">
<label for="name">Route Name:</label>
<input name="name" required type="text" placeholder="My route">

<label for="description">Description:</label>
<textarea name="description" required type="textarea" id="description" placeholder="I like this route because"></textarea>

<label for="distance" >Distance(Km):</label>
<input readonly type="text" name="distance" id="distance">

<label for="duration">Duration(Minutes):</label>
<input readonly type="text" name="duration" id="duration">

<label for="start">Start-Coordinates:</label>
<input readonly type="text" name="start" id="start">

<label for="end">End-Coordinates:</label>
<input readonly type="text" name="end" id="end">

<label for="end">Picture:</label>
<input required type="file" name="roadImage" />

<button type="submit">Submit</button>
</form>

</div>

<script>
mapboxgl.accessToken =
    'pk.eyJ1IjoiaGVpbGlnZXJodWVnZWwiLCJhIjoiY2t3YXh5Y2l1MXk1dTJ3cWxlMTZvZ2FqdCJ9.yck0GJzLuAQfrYHahudOdA';
const map = new mapboxgl.Map({
    container: 'map',
    //style: "mapbox://styles/heiligerhuegel/ckvwgwlvq4wrj14m37krtmygg",
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [0, 0],
    zoom: 0
});
const directions = new MapboxDirections({
    accessToken: mapboxgl.accessToken,
    steps: false,
    profile: "mapbox/driving",

    gemetries: "polyline",
    controls: {
        instructions: false
    }
})
map.addControl(directions, 'top-left');
map.on("load", () => {
    directions.on("route", (event) => {
        let distance = Math.round(Number(event.route[0].distance) / 1000)

        let distanceInput = document.getElementById("distance")
        distanceInput.setAttribute("value", distance)
        
        let duration = Math.round(Number(event.route[0].duration) / 60)
        let durationInput = document.getElementById("duration")
        durationInput.setAttribute("value", duration)

        let startInput = document.getElementById("start")
        startInput.setAttribute("value", event.route[0].legs[0].steps[0].maneuver.location)

        let endInput = document.getElementById("end")
        endInput.setAttribute("value", event.route[0].legs[0].steps[event.route[0].legs[0].steps.length-1].maneuver.location)
        
    })
})
</script>

  

{{!  event.route[0].distance(meters)
event.route[0].duration (seconds)
event.route[0].legs[0].steps[0].maneuver.location
event.route[0].legs[0].steps[event.route[0].legs[0].steps.length-1].maneuver.location}} 
