<link rel="stylesheet" href="/stylesheets/index.css" />

<div>
  <div class="landing">

    <div class="landing-title">
      <h1>Perfect Vibe</h1>
      <h3>Lets enjoy the road together.</h3>
    </div>
  </div>

  <div class="landing-section">

    <div class="landing-section-pics">
      <img src="./images/IMG_9678.JPG" alt="" />
    </div>

    <div class="landing-section-links">
      <a href="/signup"><h2>Create Account</h2></a>
      {{! link to create account page }}

      <a href="/login"><h2>Crate your own route.</h2></a>
      {{! link to create route if logged in }}
      <a href="/roads"><h2>Show routes.</h2></a>
      {{! link to routes }}

      {{! <a href="/"><h2>Find a random route.</h2></a> }}
      {{! link to a random route  like in layout.hbs}}
    </div>

  </div>

</div>