<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/layout.css" />
    <link rel="stylesheet" href="../stylesheets/layout.css" />
    <title>Perfect Vibe</title>

  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <a href="/"><h1>Perfect Vibe</h1></a>
      </div>
      <div class="nav">
        <ul>
          <li><a href="/roads">Routes</a></li>
          {{! link to rotes page }}
          <li><a href="/route-id">Random</a></li>
          {{! id = Math.floor(Math.random()*Database.length) // or something like
          that }}
          {{#if user.isLoggedIn}}
          <li><a href="/{{user.userId}}"><img
                src="./images/benutzersilhouette.png"
                alt="User Image"
              /></a></li>
          <li><a href="/logout"><img
                src="./images/logout.png"
                alt="Log out"
              /></a></li>
          {{else}}
            <li>
              <a href="/login">
                Sign in
              </a>
            </li>
          {{/if}}
          {{! link to user login page }}

        </ul>
      </div>
    </div>

    {{{body}}}

    <div class="footer">
      <ul>
        {{!-- <li><a href="/">Info</a></li>
        {{! info stuff page }}
        <li><a href="/">Data</a></li>
        {{! data page stuff }}
        <li><a href="/">Details</a></li>
        {{! details page stuff }} --}}
      </ul>
    </div>
  </body>
</html>