<div class="routeId">

  <div class="routeIdSectionOne">
    <div class="RouteIdMap">
      {{! mapbox of road on top 100% width }}
    </div>

    <div class="routeIdDescription">
      {{! description of road: name, length, distance, and stuff below map }}
    </div>

    <div class="routeIdPictures">
      {{! pictures of uploaded road at bottom }}
    </div>

  </div>
</div>