<link rel="stylesheet" href="./stylesheets/routes.css" />

<div class="routes">

  <div class="title">
    <h2>Routes:</h2>
    <h3><a href="createroute">Click here to create your own route.</a></h3>
  </div>

  <div class="list">
    <div class="SingleRoad">
      
      {{#each roadsFromDB}}
        {{> roadcard this}}
      {{/each}}
      </div>
  </div>

</div>