<link rel="stylesheet" href="./stylesheets/routes.css" />

<div class="routes">

  <div class="title">
    <h2>Routes:</h2>
  </div>

  <div class="list">
    <ul>
      {{!-- {{#each}} --}}
      {{> routecard}}
      {{!-- {{/each}} --}}
      
    </ul>

  </div>

</div>