:root {
  --blue: #57607a;
  --lightgrey: #57697a;
  --darkgrey: #3d4955;
  --white: #edf6ff;
  --lightblue: #daedff;
}

.main {
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.landing {
  height: calc(100vh);
  width: 90vw;
  background-image: url("./../images/roadImage.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  display: flex;
  flex-direction: column;
  filter: sepia(100%) saturate(250%) brightness(62%) hue-rotate(328deg);
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid var(--lightblue); */
  /* margin-top: 50px; */
  margin-top: 80px;
  border-radius: 75px;
  transform: translate3d(10px, 37px, 10px);
  /* opacity: 0.7; */
}

.landing-title {
  color: #06071eb5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-size: 24px;
}

.landing-section {
  height: calc(100vh);
  width: 100%;
  background-color: #4c3c86;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.landing-section-pics {
  height: 90%;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #b387e7;
  
}

.landing-section-pics img {
  width: 80%;
  border-radius: 15px;
  filter: sepia(100%) saturate(250%) brightness(62%) hue-rotate(328deg);
}

.landing-section-links {
  height: 90%;
  width: 50%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-section-section a {
  margin: 10px 0px;
}




