@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");


* {
  margin: 0px;
  padding: 0px;
  
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #4c3c86;
}

body a {
  color: #f5f2f2;
}

.navbar {
  height: 80px;
  width: 100%;
  background-color: #4c3c86;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  position: fixed;
  border-bottom: 1px solid #b387e4;
}

.logo {
  margin-left: 5vw;
}

.nav {
  margin-right: 5vw;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav li {
  margin-left: 25px;
  display: inline;
  text-decoration: none;
}

.footer {
  height: 35px;
  width: 100%;
  background-color: #423768;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #b487e8;
}

.footer li {
  margin-left: 10px 10px;
  display: inline;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a img {
  width: 26px;
  height: 26px;
}




/* IMPORTANT */
.mapboxgl-ctrl-geocoder ul > li > a {
  color: black !important;
}