@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  --blue: #57607a;
  --lightgrey: #57697a;
  --darkgrey: #3d4955;
  --white: #edf6ff;
  --lightblue: #daedff;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--darkgrey);
}

body a {
  color: var(--lightblue);
}

.navbar {
  height: 40px;
  width: 100%;

  background-color: var(--darkgrey);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--lightblue);
}

.logo {
  margin-left: 30px;
}

.nav {
  margin-right: 30px;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav li {
  margin: 0px 10px;
  display: inline;
  text-decoration: none;
}

.footer {
  height: 35px;
  width: 100%;

  background-color: var(--darkgrey);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer li {
  margin: 10px 10px;
  display: inline;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a img {
  width: 26px;
  height: 26px;
}
