:root {
  --blue: #57607a;
  --lightgrey: #57697a;
  --darkgrey: #3d4955;
  --white: #edf6ff;
  --lightblue: #daedff;
}

* {
  margin: 0px;
  padding: 0px;
}

.routeIdSectionOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#map {
  width: 90vw;
  height: 60vh;
  border: 1px solid var(--lightblue);
}
