:root {
  --blue: #57607a;
  --lightgrey: #57697a;
  --darkgrey: #3d4955;
  --white: #edf6ff;
  --lightblue: #daedff;
}

* {
  margin: 0px;
  padding: 0px;
}

.routeId {
  display:flex;
  flex-direction: column;
  /* height: calc(100vh - 82px - 50px); */
}

.routeIdSectionOne {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: calc(0vh - 82px - 100px); */
}

.RouteIdMap {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

#map {
  width: 40vw;
  height: 50vh;
  /* border: 1px solid var(--lightblue); */
  border-radius: 10px;
}

.routeIdDescription{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* margin: 20px 0px */
  height: 30vh;
  margin-top: 50px;
  margin-left: 5vw;
  color: white;
}

.routeIdDescription h2{
border-bottom: 1px solid var(--lightblue);
margin-bottom: 2px;
}

.routeIdDescription h4{
  margin-bottom: 2px;
  }

  .routeIdDescription p{
    margin-top: 5px;
    }

.routeIdPictures{
  width: 50vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.routeIdPictures img {
  /* width: 100%; */
  width: 40vw;
  height: 50vh;
  border-radius: 10px;
}

.create-route-main {
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding: 50px; 
  gap: 150px;
  height: calc(100vh - 82px - 50px);
}

#map {
  /* margin-top: 100px; */
  border-radius: 10px;
}

form {
  margin-top: 100px;
  display: flex;
  flex-direction:column;
}
form label {
  color: white;
  margin-bottom: 4px;
  float: left;
}
form input {
  padding: 2px 2px;
  border-radius: 7px;
  margin-bottom: 10px;
}

form input#file-upload-button {
  align-self: center;
  padding: 17px 44px;
  margin-top: 20px;
  background: #7e6abd;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 18px;

}

form button {
  align-self: center;
  padding: 17px 44px;
  margin-top: 20px;
  background: #7e6abd;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 18px;
}
form button:hover {
  background: #423768;
}

.edit-delete{
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center
}

.edit-delete form{
  margin: 0px;
  margin-bottom: 5px;
}
.edit-delete button{
  margin: 0px;
}
