:root {
  --blue: #57607a;
  --lightgrey: #57697a;
  --darkgrey: #3d4955;
  --white: #edf6ff;
  --lightblue: #daedff;
}

.title {
  width: 100%;

  padding: 10px 0px;

  color: var(--lightblue);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title h2 {
  width: 200px;
  border-bottom: 1px solid var(--lightblue);
  text-align: center;
}

.title h3 {
  margin-top: 2px;
  width: 200px;
  border: 1px solid var(--lightblue);
  text-align: center;
}
.routes {
  width: 100%;
  border-bottom: 1px solid var(--lightblue);
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.SingleRoad {
  width: 70%;
}

.route-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin: 5px;
  border: 1px solid var(--lightblue);
  height: 200px;
}
.card-image {
  height: 100%;
  width: 45%;
}

.card-image img {
  height: 100%;
}
.card-image img {
  height: 100%;
}
.card-description {
  width: 50%;
  height: 100%;
}
