
*{
  color: white;
}
.routes {
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
  border-bottom: 1px solid #b387e4;
}

.title h2 {
  text-align: center;
}



.title h3 {
  text-align: center;
  align-self: center;
  padding: 10px 22px;
  margin: 20px;
  background: #7e6abd;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 18px;

}

.title h3:hover {
  background: #423768;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.SingleRoad {
  width: 100vw;
}

.route-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #b387e4;
  min-height: 260px;
  margin-top: 5px;
}
.card-image {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.card-image img {
  height: 80%;
  min-width: 300px;
  max-width: 320px;
  border-radius: 10px;
}

.card-description {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.card-description-link {
  margin-top: 35px;
}
.card-description-county {
  margin-top: 4px;
  
}

.edit-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;


  margin-top: 10px;
  text-align: center;
}

.edit-field h3 {
  text-align: center;
  align-self: center;
  padding: 10px 22px;
  margin: 20px;
  background: #7e6abd;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 18px;

}

.edit-field h3:hover {
  background: #423768;
}