

* {
  margin: 0px;
  padding: 0px;
}

.logindiv {
  border-bottom: 1px solid var(--lightblue);
}

.logindiv form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createAcc {
  width: 100%;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
